/* use this file just theme versions */

/* 1.1 version */
.wpcf7 input , .wpcf7 textarea {
    margin-bottom: 15px;
}

@media  (max-width: 480px){
	img {
		max-width: 100%;
		height: auto;
	}
	.wpb_wrapper p {
		text-align: center;
	}

	.app-store-btn {
		text-align:center;
	}
	.app-store-btn a{
		margin-right : 0px;
		margin-bottom : 20px;
	}
}

.app-store-btn a{
	margin-right : 20px;
	margin-bottom : 20px;
}

.booked-form label {
	width: auto !important;
}

.list-style-none li i {
    margin-right: 15px;
}



.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.content-top .primary-menu li a{
    padding-top: 0 !important;
}
.content-bottom .primary-menu li a{
    padding-bottom: 0 !important;
}
.content-bottom .template-nav-style-1[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle, .template-nav-style-2[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle, .template-nav-style-1[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle, .template-nav-style-2[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle, .content-center .template-nav-style-1[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle, .template-nav-style-2[data-offcanvass-position="template-offcanvass-left"] .template-nav-toggle {
    margin-top: auto !important;
}
@media (max-width: 480px) {
    .template-cover-text .uppercase {
        font-size: 30px !important;
    }
}

.content-center .template-logo, .content-top .template-logo, .content-bottom .template-logo{
    margin-top: 0;
}

#template-offcanvass .open>.dropdown-menu {
    display: block;
    position: relative;
}
.has-sticky-logo .sticky-logo {
    display: none;
}
.has-sticky-logo.sticky .sticky-logo {
    display: block;
}
.has-sticky-logo.sticky .main-logo {
    display: none;
}
